pointclouds/test/
nocommit/
temp/
resources/pointclouds/heidentor/hierarchy.bin
resources/pointclouds/heidentor/metadata.json
resources/pointclouds/heidentor/octree.bin
resources/pointclouds/eclepens/hierarchy.bin
resources/pointclouds/eclepens/metadata.json
resources/pointclouds/eclepens/octree.bin
resources/pointclouds/CA13/hierarchy.bin
resources/pointclouds/CA13/metadata.json
resources/pointclouds/CA13/octree.bin
src/prototyping/laslaz/bunny_small.laz
src/prototyping/laslaz/ot_35120B4310A_1.laz
test/dragon_vrip.obj
test/dragon_vrip.ply
test/vr_controller_vive_1_5.obj
src/prototyping/laslaz/heidentor.laz
resources/models/ruins.glb
resources/models/anita_mui.glb
resources/models/australia_gas.glb
resources/models/lausanne_wood_thing.glb
resources/models/lion.glb
resources/models/xyzrgb_dragon.ply
resources/pointclouds/ca13_sample/hierarchy.bin
resources/pointclouds/ca13_sample/metadata.json
resources/pointclouds/ca13_sample/octree.bin
resources/pointclouds/66_73/hierarchy.bin
resources/pointclouds/66_73/metadata.json
resources/pointclouds/66_73/octree.bin
resources/models/vcity_sitn.glb
prototyping/lion.las
prototyping/color.bin
prototyping/positionf32.bin
prototyping/ot_35120D7323B_1.las
prototyping/ot_35120D7323B_1.laz
prototyping/artifacts/*
resources/pointclouds/ot_35120C7102A_1/hierarchy.bin
resources/pointclouds/ot_35120C7102A_1/metadata.json
resources/pointclouds/ot_35120C7102A_1/octree.bin
resources/pointclouds/octree_cuda/hierarchy.bin
resources/pointclouds/octree_cuda/metadata.json
resources/pointclouds/octree_cuda/octree.bin
resources/models/australia_gas_30M.glb
resources/models/sitnmesh.glb
resources/models/Big5M.glb
autzen-classified.copc.laz
las14_extra_attributes.las
sofi.copc.laz
resources/pointclouds/aerial_lidar2019_2524_1197_laz14_dip/
resources/pointclouds/las14_extra_attributes/
resources/pointclouds/lifeboat/
resources/pointclouds/lifeboat_potree2/
resources/G
prototyping/encoding/encoded_i32.bin
prototyping/encoding/encoded_u8_l2.7z
prototyping/encoding/encoded_u8_l2.bin
prototyping/encoding/encoded_u8.bin
prototyping/encoding/encoded.bin
prototyping/encoding/r075.7z
prototyping/encoding/r075.batch
prototyping/encoding/r0.csv
prototyping/encoding/r.csv
